{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="my-4">Products 
    <!-- Display the cart item count -->
    <span class="badge bg-primary">{{ cart_item_count }}</span>
  </h1>

  <div class="row">
    {% for product in products.items %}
    <div class="col-md-4 mb-4">
      <div class="card">
        {% if product_images[product.id] %}
          <img src="{{ url_for('static', filename='images/' ~ product_images[product.id].image_filename) }}" class="card-img-top" alt="{{ product.title }}">
        {% else %}
          <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="Default Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ url_for('main.product', id=product.id) }}">{{ product.title }}</a></h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Category: {{ product.category.name }}</p>
          <a href="{{ url_for('main.product', id=product.id) }}" class="btn btn-primary">View Product</a>
          
          {% if product.author == current_user %}
          <form action="{{ url_for('main.remove_product', id=product.id) }}" method="post" style="margin-top: 10px;">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Display Wishlist Items -->
  <h2>My Wishlist</h2>
  <ul>
    {% for item in wishlist_items %}
      {% if item.product %}
        <li>
          <a href="{{ url_for('main.product', id=item.product.id) }}">{{ item.product.title }}</a>
          <form action="{{ url_for('main.remove_from_wishlist', wishlist_id=item.id) }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
        </li>
      {% else %}
        <li>Product not found</li>
      {% endif %}
    {% endfor %}
  </ul>
  
{% endblock %}