{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
  <h1>{{ product.title }}</h1>
  <p>{{ product.description }}</p>
  <p>Price: ${{ product.price }}</p>
  <p>Posted by: {{ product.author.username }} on {{ product.created_at }}</p>

  <h3>Images</h3>
  <div class="row">
    {% for image in product.images %}
    <div class="col-md-3">
      <img src="{{ url_for('static', filename='images/' + image.image_filename) }}" class="img-thumbnail" alt="Product Image">
    </div>
    {% endfor %}
  </div>

  <h3>Reviews</h3>
  ...
  {% if current_user.is_authenticated and product not in current_user.wishlist_items %}
<form action="{{ url_for('main.add_to_wishlist', product_id=product.id) }}" method="post">
    <button class="btn btn-warning">Add to Wishlist</button>
</form>
{% endif %}
  ...
{% endblock %}