{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
  <h1>Search Results</h1>
  {% if products %}
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='images/' + product.image) }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ url_for('main.product', id=product.id) }}">{{ product.title }}</a></h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No products found matching your search criteria.</p>
  {% endif %}
{% endblock %}